<body id="page-top">
 <!-- Page Wrapper -->
 <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Hostel Management</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/admindash">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/applicants">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>View Applicants</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/allocated">
                <i class="fas fa-fw fa-table"></i>
                <span>View Allocated</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/sendmail">
                <i class="fas fa-fw fa-table"></i>
                <span>Send Status Emails</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/setprice">
                <i class="fas fa-fw fa-table"></i>
                <span>Set Price</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-table"></i>
                <span>Logout</span></a>
        </li>

 

    </ul>
    <!-- End of Sidebar -->
